{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="container"> 
    <div class="card">
        <h2>Create Account 🚀</h2>

        <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Email Address" required>
            <input type="text" name="name" placeholder="Username" required>
    
            <input 
                type="tel" 
                placeholder="Phone Number" 
                name="phone"
                pattern="[0-9]{10}" 
                required
            >
                
            <input 
                type="password" 
                placeholder="Password" 
                name="password"
                required
            >
                
            <button type="submit">Sign Up</button>
        </form>


        <p class="switch">
            Already have an account?
            <a href="{% url 'login' %}">Login</a>
        </p>
    </div>
</div>

</body>
</html>
